<div id="fbc-comment-form" style="display: none;">
  <button id="fbc-logout">Logout</button>
  <h4><span id="fbc-comment-count"></span> Comments</h4>
  <textarea id="fbc-comment-message" rows="8" placeholder="Comment"></textarea>
  <button id="fbc-comment-form-submit">Submit</button>
</div>

<div id="fbc-login-buttons" style="display: none;">
  <h4>Login to comment</h4>
  <button data-auth-provider="google">Google</button>
  <button data-auth-provider="facebook">Facebook</button>
  <button data-auth-provider="twitter">Twitter</button>
  <button data-auth-provider="github">GitHub</button>
</div>

<div id="fbc-comments-list"></div>