<div id="fbc-comment-form" style="display: none;">
  <button id="fbc-logout">Logout</button>
  <h4>Comments</h4>
  <textarea id="fbc-comment-message" rows="8" placeholder="Comment"></textarea>
  <button id="fbc-comment-form-submit">Submit</button>
</div>

<div id="fbc-login-buttons" style="display: none;">
    <h4 class="nestor-comments-title">Login to comment</h4>
    <button id="fbc-login-google">Google</button>
    <button id="fbc-login-facebook">Facebook</button>
    <button id="fbc-login-twitter">Twitter</button>
    <button id="fbc-login-github">GitHub</button>
</div>

<div id="fbc-comments-list"></div>