<div class="nestor-comments">
<div class="form-horizontal" id="fbc-comment-form" style="display: none;">
  <input style="float: right;" type="button" class="btn btn-primary" value="logout" id="fbc-logout"
         class="logout-button">
  <h4 class="nestor-comments-title">Comments</h4>

  <div class="form-group">
    <div class="col-xs-12">
      <textarea id="fbc-comment-message" class="form-control" rows="8" name="comment-comment" placeholder="Comment"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <button id="fbc-comment-form-submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<div class="form-horizontal" id="fbc-login-buttons" style="display: none;">
  <div class="form-group">
    <h4 class="nestor-comments-title">Login to comment</h4>

    <div class="col-xs-12">
      <style> button i {
        font-size: 35px;
      } </style>
      <button class="btn btn-primary" id="fbc-login-google"><i class="icon ion-social-googleplus-outline"></i>
      </button>
      <!--<button class="btn btn-primary" id="fbc-login-facebook"><i class="icon ion-social-facebook-outline"></i>-->
      <!--</button>-->
      <!--<button class="btn btn-primary" id="fbc-login-twitter"><i class="icon ion-social-twitter-outline"></i>-->
      <!--</button>-->
      <!--<button class="btn btn-primary" id="fbc-login-github"><i class="icon ion-social-github-outline"></i></button>-->
    </div>
  </div>
</div>

<div id="fbc-comments-list"></div>
</div>